# download data

In [90]:
import yfinance as yf

ticker = yf.Ticker("NIO")
data = ticker.history(period='1y',interval='60m')
data = data[['Open','High','Low','Close','Volume']]
data.to_csv('data/NIO_1H.csv')

In [93]:
f = open("data/NIO_1H.csv", "r")
f.readline()
output = ''
flag = True
while flag:
    try:
        row = f.readline()
        row = row.replace('-04:00','')
        row = row.replace('-05:00','')
        output += row
    except:
        flag = False
# f = open("test.csv", "w")
# f.write(output)
# f.close()

In [94]:
f = open("test.csv", "w")
f.write(output)
f.close()

In [37]:
import datetime
df = data.reset_index()
df['Date'] = df["Datetime"].apply( lambda df : datetime.datetime(year=df.year, month=df.month, day=df.day))

In [39]:
df.set_index(df["Date"],inplace=True)

In [43]:
# df['Date'] = df['Datetime'].dt.date
df.to_csv('check.csv')

In [45]:
df_low = df['Low'].resample('D').min().reset_index().rename(columns={'Low':'LowPrev'})
df_high = df['High'].resample('D').max().reset_index().rename(columns={'High':'HighPrev'})
df_close = df['Close'].resample('D').last().reset_index().rename(columns={'Close':'ClosePrev'})
df2 = df_low.merge(df_high,on='Date').merge(df_close,on='Date')
df2 = df2[1:]

In [47]:
df2

          Date  LowPrev  HighPrev  ClosePrev
1   2018-10-09    50.66     53.34      52.55
2   2018-10-10    49.56     53.10      51.39
3   2018-10-11    49.81     52.41      50.44
4   2018-10-12    50.42     52.39      51.83
5   2018-10-13      NaN       NaN        NaN
..         ...      ...       ...        ...
726 2020-10-03      NaN       NaN        NaN
727 2020-10-04      NaN       NaN        NaN
728 2020-10-05   419.33    433.64     425.50
729 2020-10-06   406.05    428.78     413.95
730 2020-10-07   413.85    429.90     425.19

[730 rows x 4 columns]

In [152]:
def dayOffSet(row):
    if row['dayofweek'] == 0:
        return row['Datetime'] - pd.DateOffset(days=3)
    else:
        return row['Datetime'] - pd.DateOffset(days=1)
df = pd.read_csv('data/NIO_1H.csv')
df['Datetime'] = pd.to_datetime(df['Datetime']) 
df['dayofweek'] = df['Datetime'].dt.dayofweek
df['numWeek'] = df['Datetime'].dt.isocalendar().week
df['Last'] = df.apply(dayOffSet,axis=1)

In [188]:
import pandas
df = pd.read_csv('data/NIO_D.csv')
df.head()

         Date  Open  High   Low  Close  Adj Close    Volume
0  2019-10-10  1.64  1.64  1.50   1.53       1.53  33950800
1  2019-10-11  1.55  1.59  1.50   1.56       1.56  25648800
2  2019-10-14  1.56  1.57  1.52   1.53       1.53  12534600
3  2019-10-15  1.63  1.64  1.54   1.55       1.55  25901200
4  2019-10-16  1.46  1.52  1.40   1.46       1.46  40687000

In [205]:
df = pd.read_csv('data/NIO_1H.csv')
df['Datetime'] = pd.to_datetime(df['Datetime']) 
df['dayofweek'] = df['Datetime'].dt.dayofweek
df['Last'] = df.apply(dayOffSet,axis=1)
df['LastWeek'] = df['Last'].dt.isocalendar().week
df.to_csv('check.csv')
resample = 'W'
    
cols = ['Datetime_x','Open', 'High','Low','Close',
                'PP', 'R1','S1' , 'R2', 'S2', 'R3','S3','R4','S4','R5','S5']
df.set_index(df["Datetime"],inplace=True)

df_low = df['Low'].resample(resample).min().reset_index().rename(columns={'Low':'LowPrev'})
df_high = df['High'].resample(resample).max().reset_index().rename(columns={'High':'HighPrev'})
df_close = df['Close'].resample(resample).last().reset_index().rename(columns={'Close':'ClosePrev'})
df2 = df_low.merge(df_high,on='Datetime').merge(df_close,on='Datetime')
df2 = df2[1:]
# Traditional
df2['PP'] = (df2['HighPrev'] + df2['LowPrev'] + df2['ClosePrev']) / 3
df2['R1'] = df2['PP'] * 2 - df2['LowPrev']
df2['S1'] = df2['PP'] * 2 - df2['HighPrev']
df2['R2'] = df2['PP'] + (df2['HighPrev'] - df2['LowPrev'])
df2['S2'] = df2['PP'] - (df2['HighPrev'] - df2['LowPrev'])
df2['R3'] = df2['PP'] * 2 + (df2['HighPrev'] - 2 * df2['LowPrev'])
df2['S3'] = df2['PP'] * 2 - (2 * df2['HighPrev'] - df2['LowPrev'])
df2['R4'] = df2['PP'] * 3 + (df2['HighPrev'] - 3 * df2['LowPrev'])
df2['S4'] = df2['PP'] * 3 - (3 * df2['HighPrev'] - df2['LowPrev'])
df2['R5'] = df2['PP'] * 4 + (df2['HighPrev'] - 4 * df2['LowPrev'])
df2['S5'] = df2['PP'] * 4 - (4 * df2['HighPrev'] - df2['LowPrev'])

df2['nWeek'] = df2['Datetime'].dt.isocalendar().week

FileNotFoundError: [Errno 2] No such file or directory: 'data/NIO_1H.csv'

In [183]:
[df['Last'].dt.year, df['LastWeek']]

[Datetime
 2019-10-10 09:30:00    2019
 2019-10-10 10:30:00    2019
 2019-10-10 11:30:00    2019
 2019-10-10 12:30:00    2019
 2019-10-10 13:30:00    2019
                        ...
 2020-10-09 11:30:00    2020
 2020-10-09 12:30:00    2020
 2020-10-09 13:30:00    2020
 2020-10-09 14:30:00    2020
 2020-10-09 15:30:00    2020
 Name: Last, Length: 1765, dtype: int64, Datetime
 2019-10-10 09:30:00    41
 2019-10-10 10:30:00    41
 2019-10-10 11:30:00    41
 2019-10-10 12:30:00    41
 2019-10-10 13:30:00    41
                        ..
 2020-10-09 11:30:00    41
 2020-10-09 12:30:00    41
 2020-10-09 13:30:00    41
 2020-10-09 14:30:00    41
 2020-10-09 15:30:00    41
 Name: LastWeek, Length: 1765, dtype: UInt32]

In [185]:
[df2['Datetime'].dt.year, df2['nWeek']]

[1     2019
 2     2019
 3     2019
 4     2019
 5     2019
 6     2019
 7     2019
 8     2019
 9     2019
 10    2019
 11    2019
 12    2020
 13    2020
 14    2020
 15    2020
 16    2020
 17    2020
 18    2020
 19    2020
 20    2020
 21    2020
 22    2020
 23    2020
 24    2020
 25    2020
 26    2020
 27    2020
 28    2020
 29    2020
 30    2020
 31    2020
 32    2020
 33    2020
 34    2020
 35    2020
 36    2020
 37    2020
 38    2020
 39    2020
 40    2020
 41    2020
 42    2020
 43    2020
 44    2020
 45    2020
 46    2020
 47    2020
 48    2020
 49    2020
 50    2020
 51    2020
 52    2020
 Name: Datetime, dtype: int64, 1     42
 2     43
 3     44
 4     45
 5     46
 6     47
 7     48
 8     49
 9     50
 10    51
 11    52
 12     1
 13     2
 14     3
 15     4
 16     5
 17     6
 18     7
 19     8
 20     9
 21    10
 22    11
 23    12
 24    13
 25    14
 26    15
 27    16
 28    17
 29    18
 30    19
 31    20
 32    21
 33    22
 34    23
 35    24
 36    25
 37    26
 38    27
 39    28
 40    29
 41    30
 42    31
 43    32
 44    33
 45    34
 46    35
 47    36
 48    37
 49    38
 50    39
 51    40
 52    41
 Name: nWeek, dtype: UInt32]

In [167]:
df

,Datetime,Open,High,Low,Close,Volume,dayofweek,Last,LastWeek
Datetime,,,,,,,,,
2019-10-10 09:30:00,2019-10-10 09:30:00,1.62,1.63,1.55,1.56,8915335,3,2019-10-09 09:30:00,41
2019-10-10 10:30:00,2019-10-10 10:30:00,1.57,1.60,1.55,1.56,5318905,3,2019-10-09 10:30:00,41
2019-10-10 11:30:00,2019-10-10 11:30:00,1.56,1.57,1.50,1.51,6937241,3,2019-10-09 11:30:00,41
2019-10-10 12:30:00,2019-10-10 12:30:00,1.51,1.53,1.50,1.52,2655494,3,2019-10-09 12:30:00,41
2019-10-10 13:30:00,2019-10-10 13:30:00,1.52,1.52,1.50,1.51,2769719,3,2019-10-09 13:30:00,41
...,...,...,...,...,...,...,...,...,...
2020-10-09 11:30:00,2020-10-09 11:30:00,21.48,21.63,21.42,21.49,4533283,4,2020-10-08 11:30:00,41
2020-10-09 12:30:00,2020-10-09 12:30:00,21.49,21.64,21.48,21.61,3060855,4,2020-10-08 12:30:00,41
2020-10-09 13:30:00,2020-10-09 13:30:00,21.61,21.74,21.61,21.70,4177299,4,2020-10-08 13:30:00,41
2020-10-09 14:30:00,2020-10-09 14:30:00,21.70,21.72,21.50,21.51,2804996,4,2020-10-08 14:30:00,41
2020-10-09 15:30:00,2020-10-09 15:30:00,21.51,21.55,21.44,21.48,3258867,4,2020-10-08 15:30:00,41

In [168]:
df2

,Datetime,LowPrev,HighPrev,ClosePrev,PP,R1,S1,R2,S2,R3,S3,R4,S4,R5,S5,nWeek
1,2019-10-20,1.40,1.64,1.52,1.520000,1.640000,1.400000,1.760000,1.280000,1.880000,1.160000,2.00,1.04,2.120000,0.920000,42
2,2019-10-27,1.49,1.77,1.51,1.590000,1.690000,1.410000,1.870000,1.310000,1.970000,1.130000,2.07,0.95,2.170000,0.770000,43
3,2019-11-03,1.36,1.55,1.53,1.480000,1.600000,1.410000,1.670000,1.290000,1.790000,1.220000,1.91,1.15,2.030000,1.080000,44
4,2019-11-10,1.58,2.46,1.99,2.010000,2.440000,1.560000,2.890000,1.130000,3.320000,0.680000,3.75,0.23,4.180000,-0.220000,45
5,2019-11-17,1.66,2.05,1.82,1.843333,2.026667,1.636667,2.233333,1.453333,2.416667,1.246667,2.60,1.04,2.783333,0.833333,46
6,2019-11-24,1.73,2.05,1.94,1.906667,2.083333,1.763333,2.226667,1.586667,2.403333,1.443333,2.58,1.30,2.756667,1.156667,47
7,2019-12-01,1.96,2.50,2.29,2.250000,2.540000,2.000000,2.790000,1.710000,3.080000,1.460000,3.37,1.21,3.660000,0.960000,48
8,2019-12-08,2.20,2.58,2.27,2.350000,2.500000,2.120000,2.730000,1.970000,2.880000,1.740000,3.03,1.51,3.180000,1.280000,49
9,2019-12-15,2.11,2.43,2.40,2.313333,2.516667,2.196667,2.633333,1.993333,2.836667,1.876667,3.04,1.76,3.243333,1.643333,50
10,2019-12-22,2.39,2.73,2.69,2.603333,2.816667,2.476667,2.943333,2.263333,3.156667,2.136667,3.37,2.01,3.583333,1.883333,51
11,2019-12-29,2.35,2.76,2.42,2.510000,2.670000,2.260000,2.920000,2.100000,3.080000,1.850000,3.24,1.60,3.400000,1.350000,52
12,2020-01-05,2.88,4.87,3.83,3.860000,4.840000,2.850000,5.850000,1.870000,6.830000,0.860000,7.81,-0.15,8.790000,-1.160000,1
13,2020-01-12,3.13,4.24,3.52,3.630000,4.130000,3.020000,4.740000,2.520000,5.240000,1.910000,5.74,1.30,6.240000,0.690000,2
14,2020-01-19,3.52,4.70,4.67,4.296667,5.073333,3.893333,5.476667,3.116667,6.253333,2.713333,7.03,2.31,7.806667,1.906667,3
15,2020-01-26,4.31,5.65,4.64,4.866667,5.423333,4.083333,6.206667,3.526667,6.763333,2.743333,7.32,1.96,7.876667,1.176667,4
16,2020-02-02,3.67,4.38,3.78,3.943333,4.216667,3.506667,4.653333,3.233333,4.926667,2.796667,5.20,2.36,5.473333,1.923333,5
17,2020-02-09,3.52,4.70,3.81,4.010000,4.500000,3.320000,5.190000,2.830000,5.680000,2.140000,6.17,1.45,6.660000,0.760000,6
18,2020-02-16,3.62,4.20,3.79,3.870000,4.120000,3.540000,4.450000,3.290000,4.700000,2.960000,4.95,2.63,5.200000,2.300000,7
19,2020-02-23,3.76,4.40,4.08,4.080000,4.400000,3.760000,4.720000,3.440000,5.040000,3.120000,5.36,2.80,5.680000,2.480000,8
20,2020-03-01,3.76,5.19,4.13,4.360000,4.960000,3.530000,5.790000,2.930000,6.390000,2.100000,6.99,1.27,7.590000,0.440000,9
21,2020-03-08,3.42,4.21,3.55,3.726667,4.033333,3.243333,4.516667,2.936667,4.823333,2.453333,5.13,1.97,5.436667,1.486667,10
22,2020-03-15,2.98,3.54,3.11,3.210000,3.440000,2.880000,3.770000,2.650000,4.000000,2.320000,4.23,1.99,4.460000,1.660000,11
23,2020-03-22,2.11,3.12,2.40,2.543333,2.976667,1.966667,3.553333,1.533333,3.986667,0.956667,4.42,0.38,4.853333,-0.196667,12
24,2020-03-29,2.15,3.07,2.84,2.686667,3.223333,2.303333,3.606667,1.766667,4.143333,1.383333,4.68,1.00,5.216667,0.616667,13
25,2020-04-05,2.22,2.88,2.39,2.496667,2.773333,2.113333,3.156667,1.836667,3.433333,1.453333,3.71,1.07,3.986667,0.686667,14
26,2020-04-12,2.40,2.82,2.66,2.626667,2.853333,2.433333,3.046667,2.206667,3.273333,2.013333,3.50,1.82,3.726667,1.626667,15
27,2020-04-19,2.63,3.41,3.22,3.086667,3.543333,2.763333,3.866667,2.306667,4.323333,1.983333,4.78,1.66,5.236667,1.336667,16
28,2020-04-26,2.91,3.35,2.94,3.066667,3.223333,2.783333,3.506667,2.626667,3.663333,2.343333,3.82,2.06,3.976667,1.776667,17
29,2020-05-03,2.95,3.98,3.17,3.366667,3.783333,2.753333,4.396667,2.336667,4.813333,1.723333,5.23,1.11,5.646667,0.496667,18
30,2020-05-10,3.08,3.80,3.78,3.553333,4.026667,3.306667,4.273333,2.833333,4.746667,2.586667,5.22,2.34,5.693333,2.093333,19
31,2020-05-17,3.27,3.78,3.38,3.476667,3.683333,3.173333,3.986667,2.966667,4.193333,2.663333,4.40,2.36,4.606667,2.056667,20
32,2020-05-24,3.18,3.82,3.26,3.420000,3.660000,3.020000,4.060000,2.780000,4.300000,2.380000,4.54,1.98,4.780000,1.580000,21
33,2020-05-31,3.40,4.20,3.99,3.863333,4.326667,3.526667,4.663333,3.063333,5.126667,2.726667,5.59,2.39,6.053333,2.053333,22
34,2020-06-07,3.96,6.20,5.59,5.250000,6.540000,4.300000,7.490000,3.010000,8.780000,2.060000,10.07,1.11,11.360000,0.160000,23
35,2020-06-14,5.66,6.95,6.11,6.240000,6.820000,5.530000,7.530000,4.950000,8.110000,4.240000,8.69,3.53,9.270000,2.820000,24
36,2020-06-21,5.92,7.63,7.34,6.963333,8.006667,6.296667,8.673333,5.253333,9.716667,4.586667,10.76,3.92,11.803333,3.253333,25
37,2020-06-28,6.50,7.90,6.90,7.100000,7.700000,6.300000,8.500000,5.700000,9.100000,4.900000,9.70,4.10,10.300000,3.300000,26
38,2020-07-05,6.71,9.40,9.38,8.496667,10.283333,7.593333,11.186667,5.806667,12.973333,4.903333,14.76,4.00,16.546667,3.096667,27
39,2020-07-12,10.70,15.73,15.00,13.810000,16.920000,11.890000,18.840000,8.780000,21.950000,6.860000,25.06,4.94,28.170000,3.020000,28
40,2020-07-19,10.46,16.44,11.09,12.663333,14.866667,8.886667,18.643333,6.683333,20.846667,2.906667,23.05,-0.87,25.253333,-4.646667,29
41,2020-07-26,10.91,13.58,11.81,12.100000,13.290000,10.620000,14.770000,9.430000,15.960000,7.950000,17.15,6.47,18.340000,4.990000,30
42,2020-08-02,11.27,13.00,11.94,12.070000,12.870000,11.140000,13.800000,10.340000,14.600000,9.410000,15.40,8.48,16.200000,7.550000,31
43,2020-08-09,12.46,14.53,13.42,13.470000,14.480000,12.410000,15.540000,11.400000,16.550000,10.340000,17.56,9.28,18.570000,8.220000,32
44,2020-08-16,12.54,15.45,13.10,13.696667,14.853333,11.943333,16.606667,10.786667,17.763333,9.033333,18.92,7.28,20.076667,5.526667,33
45,2020-08-23,13.06,14.69,14.12,13.956667,14.853333,13.223333,15.586667,12.326667,16.483333,11.593333,17.38,10.86,18.276667,10.126667,34
46,2020-08-30,14.31,20.97,18.51,17.930000,21.550000,14.890000,24.590000,11.270000,28.210000,8.230000,31.83,5.19,35.450000,2.150000,35
47,2020-09-06,15.61,21.05,17.97,18.210000,20.810000,15.370000,23.650000,12.770000,26.250000,9.930000,28.85,7.09,31.450000,4.250000,36
48,2020-09-13,16.51,18.72,17.97,17.733333,18.956667,16.746667,19.943333,15.523333,21.166667,14.536667,22.39,13.55,23.613333,12.563333,37
49,2020-09-20,17.90,20.25,19.40,19.183333,20.466667,18.116667,21.533333,16.833333,22.816667,15.766667,24.10,14.70,25.383333,13.633333,38
50,2020-09-27,16.75,19.45,18.32,18.173333,19.596667,16.896667,20.873333,15.473333,22.296667,14.196667,23.72,12.92,25.143333,11.643333,39
51,2020-10-04,18.43,22.59,21.20,20.740000,23.050000,18.890000,24.900000,16.580000,27.210000,14.730000,29.52,12.88,31.830000,11.030000,40
52,2020-10-11,20.60,22.45,21.48,21.510000,22.420000,20.570000,23.360000,19.660000,24.270000,18.720000,25.18,17.78,26.090000,16.840000,41

In [158]:
df2['Datetime'].dt.isocalendar().week

1     42
2     43
3     44
4     45
5     46
6     47
7     48
8     49
9     50
10    51
11    52
12     1
13     2
14     3
15     4
16     5
17     6
18     7
19     8
20     9
21    10
22    11
23    12
24    13
25    14
26    15
27    16
28    17
29    18
30    19
31    20
32    21
33    22
34    23
35    24
36    25
37    26
38    27
39    28
40    29
41    30
42    31
43    32
44    33
45    34
46    35
47    36
48    37
49    38
50    39
51    40
52    41
Name: week, dtype: UInt32

In [155]:
df2['Datetime'].dt.isocalendar().week

1     42
2     43
3     44
4     45
5     46
6     47
7     48
8     49
9     50
10    51
11    52
12     1
13     2
14     3
15     4
16     5
17     6
18     7
19     8
20     9
21    10
22    11
23    12
24    13
25    14
26    15
27    16
28    17
29    18
30    19
31    20
32    21
33    22
34    23
35    24
36    25
37    26
38    27
39    28
40    29
41    30
42    31
43    32
44    33
45    34
46    35
47    36
48    37
49    38
50    39
51    40
52    41
Name: week, dtype: UInt32

In [2]:
import pandas as pd
df = pd.read_csv('data/TSLA_W.csv')
df['Date'] = pd.to_datetime(df['Date']) 

df['Pre_year'] = df['Date'] - pd.DateOffset(years=1)

In [4]:
df2

,year,LowPrev,HighPrev,ClosePrev,PP,R1,S1,R2,S2,R3,S3,R4,S4,R5,S5
1,2019,35.397999,90.800003,88.601997,71.600000,107.802000,52.399996,127.002004,16.197996,163.204004,-3.002008,199.406005,-22.202011,235.608006,-41.402014
2,2020,70.101997,502.489990,413.980011,328.857333,587.612668,155.224675,761.245326,-103.530660,1020.000661,-277.163318,1278.755997,-450.795975,1537.511333,-624.428632

In [5]:
# Traditional
df2['PP'] = (df2['HighPrev'] + df2['LowPrev'] + df2['ClosePrev']) / 3
df2['R1'] = df2['PP'] * 2 - df2['LowPrev']
df2['S1'] = df2['PP'] * 2 - df2['HighPrev']
df2['R2'] = df2['PP'] + (df2['HighPrev'] - df2['LowPrev'])
df2['S2'] = df2['PP'] - (df2['HighPrev'] - df2['LowPrev'])
df2['R3'] = df2['PP'] * 2 + (df2['HighPrev'] - 2 * df2['LowPrev'])
df2['S3'] = df2['PP'] * 2 - (2 * df2['HighPrev'] - df2['LowPrev'])
df2['R4'] = df2['PP'] * 3 + (df2['HighPrev'] - 3 * df2['LowPrev'])
df2['S4'] = df2['PP'] * 3 - (3 * df2['HighPrev'] - df2['LowPrev'])
df2['R5'] = df2['PP'] * 4 + (df2['HighPrev'] - 4 * df2['LowPrev'])
df2['S5'] = df2['PP'] * 4 - (4 * df2['HighPrev'] - df2['LowPrev'])

In [7]:
df = df.merge(df2, how='left', left_on=[df['Pre_year'].dt.year], right_on=['year'])

In [8]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Pre_year,year,LowPrev,...,R1,S1,R2,S2,R3,S3,R4,S4,R5,S5
0,2018-09-03,56.959999,58.234001,50.450001,52.647999,52.647999,149863500,2017-09-03,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-10,54.652000,59.466000,54.200001,59.040001,59.040001,232874000,2017-09-10,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-17,58.007999,61.195999,55.099998,59.820000,59.820000,220649500,2017-09-17,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-24,59.695999,62.992001,52.112000,52.953999,52.953999,296633500,2017-09-24,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-01,61.153999,63.368000,52.000000,52.389999,52.389999,346374000,2017-10-01,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2020-09-07,356.000000,398.989990,329.880005,372.720001,372.720001,340579600,2019-09-07,2019,35.397999,...,107.802,52.399996,127.002004,16.197996,163.204004,-3.002008,199.406005,-22.202011,235.608006,-41.402014
106,2020-09-14,380.950012,461.940002,373.299988,442.149994,442.149994,415784100,2019-09-14,2019,35.397999,...,107.802,52.399996,127.002004,16.197996,163.204004,-3.002008,199.406005,-22.202011,235.608006,-41.402014
107,2020-09-21,453.130005,455.679993,351.299988,407.339996,407.339996,447901400,2019-09-21,2019,35.397999,...,107.802,52.399996,127.002004,16.197996,163.204004,-3.002008,199.406005,-22.202011,235.608006,-41.402014
108,2020-09-28,424.619995,448.880005,411.600006,415.089996,415.089996,270256000,2019-09-28,2019,35.397999,...,107.802,52.399996,127.002004,16.197996,163.204004,-3.002008,199.406005,-22.202011,235.608006,-41.402014
109,2020-10-05,423.350006,433.640015,406.049988,413.980011,413.980011,93869100,2019-10-05,2019,35.397999,...,107.802,52.399996,127.002004,16.197996,163.204004,-3.002008,199.406005,-22.202011,235.608006,-41.402014

In [9]:
df_print = df.drop(columns=['Adj Close', 'Volume','Pre_year', 'year', 'LowPrev', 'HighPrev', 'ClosePrev'])
df_print.to_csv('check.csv')

In [12]:
CLOSEprev = df['Close'].shift(periods=1)
HIGHprev = df['High'].shift(periods=1)
LOWprev = df['Low'].shift(periods=1)

# Traditional
df['PP'] = (HIGHprev + LOWprev + CLOSEprev) / 3
df['R1'] = df['PP'] * 2 - LOWprev
df['S1'] = df['PP'] * 2 - HIGHprev
df['R2'] = df['PP'] + (HIGHprev - LOWprev)
df['S2'] = df['PP'] - (HIGHprev - LOWprev)
df['R3'] = df['PP'] * 2 + (HIGHprev - 2 * LOWprev)
df['S3'] = df['PP'] * 2 - (2 * HIGHprev - LOWprev)
df['R4'] = df['PP'] * 3 + (HIGHprev - 3 * LOWprev)
df['S4'] = df['PP'] * 3 - (3 * HIGHprev - LOWprev)
df['R5'] = df['PP'] * 4 + (HIGHprev - 4 * LOWprev)
df['S5'] = df['PP'] * 4 - (4 * HIGHprev - LOWprev)

# Fibonacci
df['PP'] = (HIGHprev + LOWprev + CLOSEprev) / 3
df['R1'] = df['PP'] + 0.382 * (HIGHprev - LOWprev)
df['S1'] = df['PP'] - 0.382 * (HIGHprev - LOWprev)
df['R2'] = df['PP'] + 0.618 * (HIGHprev - LOWprev)
df['S2'] = df['PP'] - 0.618 * (HIGHprev - LOWprev)
df['R3'] = df['PP'] + (HIGHprev - LOWprev)
df['S3'] = df['PP'] - (HIGHprev - LOWprev)

# Classic
df['PP'] = (HIGHprev + LOWprev + CLOSEprev) / 3
df['R1'] = 2 * df['PP'] - LOWprev
df['S1'] = 2 * df['PP'] - HIGHprev
df['R2'] = df['PP'] + (HIGHprev - LOWprev)
df['S2'] = df['PP'] - (HIGHprev - LOWprev)
df['R3'] = df['PP'] + 2 * (HIGHprev - LOWprev)
df['S3'] = df['PP'] - 2 * (HIGHprev - LOWprev)
df['R4'] = df['PP'] + 3 * (HIGHprev - LOWprev)
df['S4'] = df['PP'] - 3 * (HIGHprev - LOWprev)

# Camarilla
df['PP'] = (HIGHprev + LOWprev + CLOSEprev) / 3
df['R1'] = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 12
df['S1'] = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 12
df['R2'] = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 6
df['S2'] = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 6
df['R3'] = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 4
df['S3'] = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 4
df['R4'] = CLOSEprev + 1.1 * (HIGHprev - LOWprev) / 2
df['S4'] = CLOSEprev - 1.1 * (HIGHprev - LOWprev) / 2

In [10]:
df

              Open    High     Low   Close  Pre_close  Pre_high  Pre_low
Date
2020-09-08  271.28  279.30  269.42  271.16        NaN       NaN      NaN
2020-09-09  275.77  278.48  271.35  273.72     271.16    279.30   269.42
2020-09-10  275.51  279.16  267.03  268.09     273.72    278.48   271.35
2020-09-11  270.06  271.39  262.64  266.61     268.09    279.16   267.03
2020-09-14  270.95  276.64  265.70  266.15     266.61    271.39   262.64
2020-09-15  270.67  274.52  269.30  272.42     266.15    276.64   265.70
2020-09-16  267.29  272.44  261.79  263.52     272.42    274.52   269.30
2020-09-17  258.28  261.50  250.19  254.82     263.52    272.44   261.79
2020-09-18  258.40  259.20  250.05  252.53     254.82    261.50   250.19
2020-09-21  247.54  249.95  244.13  248.15     252.53    259.20   250.05
2020-09-22  253.31  255.32  248.22  254.75     248.15    249.95   244.13
2020-09-23  255.26  257.99  248.15  249.02     254.75    255.32   248.22
2020-09-24  246.50  252.24  245.62  249.53     249.02    257.99   248.15
2020-09-25  249.40  255.75  246.61  254.82     249.53    252.24   245.62
2020-09-28  259.40  259.60  254.82  256.82     254.82    255.75   246.61
2020-09-29  257.81  263.33  256.90  261.79     256.82    259.60   254.82
2020-09-30  261.98  266.08  260.10  261.90     261.79    263.33   256.90
2020-10-01  265.35  268.33  264.80  266.63     261.90    266.08   260.10
2020-10-02  261.21  265.15  259.18  259.94     266.63    268.33   264.80
2020-10-05  262.20  264.87  260.84  264.65     259.94    265.15   259.18
2020-10-06  261.78  265.69  258.24  258.66     264.65    264.87   260.84
2020-10-07  259.21  260.18  254.82  258.12     258.66    265.69   258.24